OcorrenciasTexto.Console/Data/*.html linguist-vendored=true
OcorrenciasTexto.Console/Data/*.htm linguist-vendored=true
*.html linguist-vendored=true
*.htm linguist-vendored=true
*.htm* linguist-vendored=true
